
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-contain{
  margin: 5rem auto;
  padding: 2rem;
  max-width: 400px;
  border-radius: 1.4rem;
  position: relative;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

form .form-control:focus{
  border-color: #000;
  box-shadow: none;
}